In [2]:
import pandas

In [1]:
data={"name":["Jasleen"],"lastname":["Chavan"]}

In [4]:
pd.DataFrame(data)

NameError: name 'pd' is not defined

In [6]:
import pandas as pd

In [7]:
pd.DataFrame(data)

      name lastname
0  Jasleen   Chavan